* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.main-register-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}


.form-container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.form-container h2 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #34495e;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.gender-options {
  display: flex;
  gap: 15px;
}

.gender-options label {
  font-weight: normal;
  margin-bottom: 0;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #2e86de;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background-color: #1b4f72;
}

@media (min-width:350px) and (max-width:1200px){
  
.main-register-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}


.form-container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  max-width: 450px;
 
}

.form-container h2 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #34495e;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.gender-options {
  display: flex;
  gap: 15px;
}

.gender-options label {
  font-weight: normal;
  margin-bottom: 0;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #2e86de;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background-color: #1b4f72;
}





}